@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
.solid-nav {
    background: #081b29 !important;
    transition: background 0.5s;
 }
 html{
 scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

*::selection {
    background: #00abf0;
    color: #081b29;
}
.scrolled {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    background: linear-gradient(to bottom, #081b29, #00334e);
}

body {
    background: #081b29;
    color: #ededed;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #081b29;  /* Set to the desired color of your bar */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;

}


#joke {
    padding-top: 10px;
    color: #fff;
    opacity: 0.7; /* this will make the text a bit transparent */
    font-size: 11px; /* this will make the text smaller, adjust the value as needed */
}



.logo {
    position: relative;
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.logo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: .3s;
}



.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:focus {
    outline: none;
 }

.navbar a:hover,
.navbar a.active {
    color: #00abf0;
    
}
#backToTop {
    display: none;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 99;
    font-size: 2rem;
    border: none;
    outline: none;
    background-color: rgba(8, 27, 41, 0.7);  /* Using the main dark background color with a bit of transparency */
    color: #00abf0;  /* Using the primary blue color from your design */
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    transition: background-color 0.3s, color 0.3s;
}

#backToTop:hover {
    background-color: #00abf0;  /* Using the primary blue color from your design */
    color: #081b29;  /* Using the main dark background color */
}


.home {
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between; /* to separate home content and Instagram section */
    align-items: center;
    padding: 0 10%;
}

.home-content {
    max-width: 647px;
    z-index: 101;
    padding-right: 20px; /* To give some space between content and Instagram feed */
}

.instagram-section {
    width: 30%; /* Adjust based on preference */
}

a[href="https://instawidget.io"] {
    display: none !important; 
}

.caption-text {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
    color: #aaa;  /* This is a subtle gray color, adjust as necessary */
    font-style: italic;  /* Making it italic for added flair */
}


.home-content h1 {
    position: relative;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight .6s ease forwards;
    animation-delay: .5s;
}

.home-content h3 {
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}

.home-content h3::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight .6s ease forwards;
    animation-delay: .6s;
}

.home-content p {
    position: relative;
    font-size: 16px;
    margin: 20px 0 40px;
}

.home-content p::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
}

.home-content .btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.home-content .btn-box::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.9s;
    z-index: 2;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover {
    color: #00abf0;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: #00abf0;
}

.btn-box a:nth-child(2):hover {
    color: #081b29;
}

.btn-box a:nth-child(2)::before {
    background: #00abf0;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {
    width: 100%;
}

.home-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 2.5s;
    z-index: 2;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover {
    color: #081b29;
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before {
    width: 100%;
}

.scroll-hint {
    position: absolute;
    font-size: 50px;
    bottom: 5%;
    left: 48.6%;
    transform: translateX(-50%);
    animation: bounce 1s infinite;
    cursor: pointer;
}

/* KEYFRAMES ANIMATION */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

@keyframes showRight {
    100% {
        width: 0;
    }
}

@keyframes manipActiveHover {
    100% {
        pointer-events: auto;
    }
}
.home-content h3 {
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}



.home-content h3::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.3s;
}

/* CONTACT FORM */

.contact-form {
    width: 60%; /* Adjusted width */
    margin: auto;
    padding: 3em; /* Increased padding */
    border-radius: 15px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.1); /* Increased shadow intensity */
    border: 1px solid rgba(255, 255, 255, 0.05); /* Less visible border */
}

.contact-form label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em; /* Larger font size */
    color: #ffffff; /* White text color */
}

.contact-form input, .contact-form textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: none; /* Remove border */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Add inner shadow */
}

.contact-form button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none; /* Remove border */
    background-color: #ffffff; /* White background */
    color: #0a7bc2; /* Blue text color */
    font-size: 1.2em; /* Larger font size */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Add shadow */
    cursor: pointer; /* Cursor changes to hand when hovering */
}

.contact-form button:hover {
    background-color: #00abf0; /* Blue background on hover */
    color: #ffffff; /* White text color on hover */
}

/* Prevent textarea resizing beyond form width */
.contact-form textarea {
    resize: vertical;
    max-height: 150px;
    max-width: 100%;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(8,27,41,0.7); /* Dark background with opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 10% auto;
    padding: 0; /* Remove padding */
    border: 1px solid #888;
    width: 60%;
    height: 60%;
    max-width: 800px;
    max-height: 1000px;
    background-color: #081b29; /* The dark blue color */
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15); /* Add box shadow */
    border-radius: 15px; /* Add border radius */
    
}

.form-title {
    display: block; /* Make it a block-level element */
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 3em;
    margin-bottom: 20px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.03);

}

/* The Close Button */
.close {
    
    color: #aaa;
    position: absolute;  /* Make it absolute to the modal-content */
    top: 8px;      
    right: 20px;       
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #00abf0; /* The bright blue on hover */
    cursor: pointer;
}

/* PORTFOLIO */
.portfolio {
    align-items: flex-start;
    min-height: 600px;  /* Adjust this value based on your needs */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
       padding: 5% 0;     /* Adding vertical padding can also help with spacing */
}

  .portfolio-title {
    text-align: center;
    font-size: 2em;
    color: #ffffff;
    /* Add more styles as needed */
}

/********************************************** PORTFOLIO CARDS **************************************/


  
.card {
    cursor: pointer;
    display: none;
    padding: 20px;
    margin: 15px 0;
    position: relative;
    width: calc(100% / 3 - 2em); 
    min-height: 150px;
    max-height: 500px;
    overflow-y: auto;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease-in-out, max-height 0.5s ease-in-out; /* Added transition for max-height */
    flex-shrink: 0; /* Prevents the card from shrinking when other cards grow */
    flex-grow: 0;
    flex-basis: calc(100% / 3 - 2em);  /* this sets the initial base size before growing or shrinking */
}

.card::after {
    content: "click to expand +";
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 0.6em;
    color: #aaa;
}

.card.expanded::after {
    content: "click outside to collapse -";
}



  .card .card-info p {
    opacity: 0;
    max-height: 0;
    overflow: hidden; /* To clip the content */
    transition: opacity 0.5s, max-height 0.6s;
}

.card-info span {
    display: block;
    margin-bottom: 5px; /* Adjust as needed */
    font-weight: bold; /* Makes the text bold, remove if you prefer regular weight */
    color: #ffffffd3; /* You can adjust this color as needed */
}


/* Remove this section that handles hover expansion */
/*.card:hover .card-info p {
    opacity: 1;
    max-height: 333px; 
}*/

/* Add this section to handle clicked expansion */
.card.expanded .card-info p {
    opacity: 1;
    max-height: 333px; 
}



  .card.show {
    display: block; /* Only display cards with the show class */
}

  .card::before {
    content: ""; /* This is necessary for the pseudo-element to show */
    position: absolute; /* This takes it out of the document flow */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; /* These four lines make it span the entire card */
    opacity: 0.15; /* Adjust to your desired opacity */
    z-index: -1;  /* Places it below the card content */
}


#project1::before {
    background-image: url('assets/images/Zaytoven.PNG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#project2::before {
    background-image: url('assets/images/Collab.PNG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#project3::before {
    background-image: url('assets/images/RatingLegends.PNG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#project4::before {
    background-image: url('assets/images/YouFirst.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#project5::before {
    background-image: url('assets/images/Split-Logo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#project6::before {
    background-image: url('assets/images/RPG.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#project7::before {
    background-image: url('assets/images/Food-Dispenser.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#project8::before {
    background-image: url('assets/images/Laser.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
  
#project9::before {
    background-image: url('assets/images/Password.PNG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


  .card:hover {
    transform: scale(1.03); /* Scales the size of the card up to 105% */
    box-shadow: 0 0 30px rgba(0, 171, 240, 0.7);
    
}

  .card img {
    width: 100%;
    height: auto;
  }


  
  .card-info {
    position: relative;
    z-index: 2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card-button {
    z-index: 3;
}
  .card-info h3 {
    margin-top: 0;
  }
  
  .card-info a {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    border: none; 
    background-color: #ffffff; 
    color: #0a7bc2; 
    font-size: 1.2em; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    cursor: pointer; 
    text-decoration: none;
    transition: .3s;
    max-width: 200px; /* maximum width */
    text-align: center; 
    margin-top: 20px; /* Space from the text above */
    margin-bottom: 20px; /* Space from the card bottom */
    margin-left: auto; /* automatic margin from left */
    margin-right: auto; /* automatic margin from right */
}


.card-info a:hover {
    background-color: #00abf0;
    color: #ffffff;
}

/* Webkit browsers like Chrome, Safari */
.card::-webkit-scrollbar {
    width: 8px;
}

.card::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.card::-webkit-scrollbar-thumb {
    background: #888;
}

.card::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Firefox */
.card {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}

/*FILTER CARDS*/

.filter-btns {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* This is to ensure buttons wrap to the next line if there's not enough space */
    gap: 10px;       /* This adds a little space between wrapped buttons */
}

.filter-btn {
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    background-color: #ededed;
    margin-right: 10px;
    transition: background-color 0.3s;
}

.filter-btn:hover,
.filter-btn.active {
    background-color: #00abf0;
    color: #081b29;
}

footer {
    width: 100%;
    background-color: #081b29;  /* Use a color that matches your site's color scheme */
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

footer p {
    margin: 0; /* Removes any default margin */
    padding: 0;
    font-size: 16px;
}


/******************************************************* MAKING IT RESPONSIVE *******************************************************/
@media screen and (max-width: 1200px) {
    .home-content h1 {
      font-size: 40px;
    }
    
    .home-content h3 {
      font-size: 24px;
    }
  
    .navbar a {
      font-size: 14px;
    }
     /* Adjust the filter buttons and portfolio cards slightly */
     .filter-btns {
        flex-direction: column;
        gap: 5px;
    }

    .filter-btn {
        font-size: 14px;
    }
}
  
  @media screen and (max-width: 800px) {
    .navbar a {
      display: block;
      width: 100%;
      margin: 10px 0;
    }
    
    .home {
      padding: 0 5%;
    }
    
    .home-content h1 {
      font-size: 32px;
    }
    
    .home-content h3 {
      font-size: 20px;
    }
    
    .home-content p {
      font-size: 14px;
      margin: 15px 0 30px;
    }
    
    .home-content .btn-box {
      width: 275px;
      height: 60px;
    }
    
    .btn-box a {
      width: 125px;
      font-size: 16px;
    }
       /* Navigation */
       .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    /* Adjust portfolio grid to show two cards in a row */
    .portfolio {
        grid-template-columns: repeat(2, 1fr);
    }
}
  
  @media screen and (max-width: 500px) {
    .home-content h1 {
      font-size: 24px;
    }
    
    .home-content h3 {
      font-size: 18px;
    }
    
    .home-content p {
      font-size: 12px;
      margin: 10px 0 20px;
    }
    
    .home-content .btn-box {
      width: 275px;
      height: 60px;
    }
    
    .btn-box a {
      width: 130px;
      font-size: 14px;
    }
    
    .home-sci a {
      width: 30px;
      height: 30px;
      font-size: 16px;
    }
       /* Adjust portfolio grid to show one card per row */
       .portfolio {
        grid-template-columns: 1fr;
    }

    /* Adjust the filter buttons */
    .filter-btn {
        padding: 8px 10px;
        font-size: 12px;
    }

    /* Adjusting the card dimensions might also be necessary */
    .card {
        width: 100%;
        margin: 10px 0;
    }
    .contact-form {
        display: flex;
        flex-direction: column;
    }

    /* Make sure inputs and textarea take full width */
    .contact-form input,
    .contact-form textarea {
        width: 100%;
        margin-bottom: 15px;
    }
}
